* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    /* height: 10vh; */
    display: flex;  
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    padding: 1rem 5%;
     
    
    #nav1{
      gap: 1%;
        color: black;
    }
}
#sec{
    width: 100%;
    /* height: 100vh; */
    background-color: #f7c646;
    .container{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .div1{
            width: 50%;
            height: 80%;
            background-color: #f7c646;
            img{
                width: 90%;
                height: 100%;


            }
            
        }
        .div2{
            width: 50%;
            height: 80%;
            background-color: #f7c646; 
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 2rem;
          gap: 3rem;
          font-weight: 4rem;
            button{
                width: 35%;
                background-color: blue;
                color: azure;
                padding: 1rem;
                border-radius: 3rem;
                
            }
            
        }
      
    }
}
#sec1{
    width: 100%;
    /* height: 30vh; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

#sec3{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    .container2{
        width: 70%;
        height: 90%;
        background-color: blue;
    }
    }