*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 10vh;
    background-color: rgb(239, 239, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    
}
#section1{
    width: 100%;
    /* height: 85vh; */
    background-color:  #f1bb13;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 100%;
        /* height: 100%; */
        /* background-color: blue; */
        img{
            width:70%;
        }
    }


}
.link{
    font-weight: 700;
    
}
#nav1{
    display: flex;
    gap: 1rm;
}
.right{
    display: flex;
    flex-direction: column;  
    gap: 1.5em;
    

p{
    font-size: 1.125rem;
    text-transform: uppercase;
}
h1{
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
    a{
        color: rgb(52, 20, 181)
    }  
}
button{
        background-color: black;
        color: aliceblue;
        border-radius: 1rem;
        border: 0;
        padding: 1rem;

    }
}
#section2{
    width: 100%;
    height: 70%;
    background-color: rgb(249, 249, 254);
         display: flex;
    flex-direction: column;
    align-items: center;

    .cont{
        width: 70%;
        height: 90%;
        
        
    }
    
        .upper{
                 display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
               
            h2{
                font-weight: 700%;
            }    
            
        }
         .lower{
            display: flex;
            flex-wrap: wrap;
        .son{
            width: 50%;
            height: 40vh;
            /* background-color: rgb(186, 16, 16); */
            /* border: 3px solid black; */
            background-size: cover;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            gap: 1rem;
            h3{
                font-size: 200%;
            }
            p{
                font-size: 100%;
            }
            .qq{
                display: flex;   
            }
            .ee{
                color: aliceblue;
                
            }
            h4{
               font-size: 200% 
               
            }
            p{
                font-size: 100%;
            }
            button{
                background-color: #34365a;
                color: aliceblue;
               border-radius: 1rem;
        /* border: 2rem; */
        border-color: aliceblue;
        padding: 1rem; 
            }
            .rr{
                h5{
                    font-size: 200%
                } 
                p{
                    font-size: 100%
                }
                .tt{
                    background-color: #f1bb13;
                    color: black;
                }
                
            }

            }
            
            }
            .yellow{
                background-color: #f1bb13;
            }
            .blue{
                background-color: #34365a;
            }

        
    }
    #section3{
        width: 100%;
        height: 70vh;
        background-color: #34365a;
        .dev{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem;
            
            
            .dev1{
                color: aliceblue;
                h6{
                    font-size: 200%;
                    padding-left: 15%;
                }
                p{
                    font-size: 100%;
                }
                .dev11{
                    display: flex;
                    padding-left: -11rem;
                    font-size: 70rem;
                    margin: 2rem;
                    button{
                        background-color: #34365a;
                        color: aliceblue;
                        font-size: 3%;
                      padding-left: 3rem;
                      margin-right: 5rem; 
                      border: 2%;
                      border-radius: 4rem;
                      border-color: aliceblue;

                    }

                }
            }
           
        }
       .pic{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 500px;
        height: 500px;
        margin: 10rem;
        }
        
       }
       #main1{
        position: relative;
        
        .pic24{
           width: 27%;
            height: 45vh;
        background-color:#ffffff;
            
            position: absolute;
            top: -36rem;
            right: 14%;;
            .h6{
                font-size: 2rem;
                padding: 5%;
            }
            p{
                font-weight: 300;
                padding: 2%;
            }
            button{
                font-size: 200%;
                font-weight: 10%;
                margin: 1rem;
                border-radius: 7rem;
                background-color: black;
                color: aliceblue;
            }
        }
        
       }

    }
    .sec8{
        display: flex;
        align-items: center;
        justify-content: center;gap: 9rem;
        
        
        h4{
            font-size: 2rem;
        }
        h3{
            font-size: 2rem
        }
        h2{
            font-size: 2rem
        }

        

        .dev88{
            width: 100px;
            height: 100px;
            background-color: #f1bb13;
            border-radius: 50%;
            position: relative;
            margin: 2rem;
            
            img{
                width: 70px;
                height: 70px;
                position: absolute;
                top: 2.5rem;
                left: -1.5rem;
                bottom: 3rem;
                
            }
          
           
           
        }
       
            
        }
        #aq{
            width: 60%;
            /* height: 40rem; */
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
                right: 4rem;
            .aq1{
                background-color: #f1bb13;
                
                box-sizing: border-box;
                margin: 4rem;
                border-radius:  1rem;
                padding: 30px;
                
                p{
                    font-size: 3rem;
                }
                h1{
                    font-size: 150%;
                    margin: 1em;
                }
            }
            .aq2{
                padding: -3rem;
                font-size: -4rem;
                h5{
                    padding: 1rem;
                }
            }

        }
        
        

    
    
        
         

  

    
   