* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  /* height: 10vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  padding: 1rem 5%;

  #nav1 {
   
    color: black;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
  }
}
#sec {
  width: 100%;
  /* height: 100vh; */
  background-color: #f7c646;
  .container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .div1 {
      width: 50%;
      height: 80%;
      background-color: #f7c646;
      img {
        width: 90%;
        height: 100%;
      }
    }
    .div2 {
      width: 50%;
      height: 80%;
      background-color: #f7c646;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      gap: 3rem;
      font-weight: 4rem;
      button {
        width: 35%;
        background-color: #34365a;
        color: azure;
        padding: 1rem;
        border-radius: 3rem;
      }
    }
  }
}
#sec1 {
  width: 100%;
  /* height: 30vh; */
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

#sec3 {
  width: 100%;
  /* height: 100vh; */
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;

  .container2 {
    width: 70%;
    height: 90%;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;

    .divv {
      width: 50%;
      /* height: 40vh; */
      /* background-color: tomato; */
      background-size: cover;
      /* border: 3px solid black; */
      padding: 1rem;
      h1 {
        font-size: 2rem;
        margin: 1rem;
      }
      p {
        font-weight: 2rem;
        margin: 1rem;
      }
      button {
        padding: 1rem 2rem;
        border-radius: 2rem;

        margin: 1rem;
        background-color: #34365a;
        color: white;
      }
      .bu2 {
        background-color: #f7c646;
        color: black;
      }
      .bu3 {
        background-color: #f7c646;
        color: black;
      }
    }
  }
  .orang {
    background-color: #f7c646;
    color: black;
  }
  .blue {
    background-color: #34365a;
    color: rgb(247, 237, 237);
  }
  .orang2 {
    background-color: #f7c646;
  }
}

#sec4 {
  width: 100%;
  height: 90vh;
  /* background-color: aqua; */
  display: flex;
  align-items: center;

  .c1 {
    width: 100%;
    height: 90%;
    background-color: #34365a;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    .c2 {
      border: white;
      background-color: #34365a;
      border-radius: 2rem;
    }
  }
}
.hero {
  padding: 80px 0;
}

.hero-wrapper {
  position: relative;
  width: 85%;
  margin: auto;
  height: 500px;
  position: absolute;
}

/* Image Section */
.image-box {
  width: 55%;
  height: 100%;
  /* background-color: #f6d24a; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box img {
  width: 668px;
  position: relative;
  top: -22rem;
  left: 9rem;
}

/* Content Card */
.content-box {
  position: absolute;
  left: 40rem;
  top: -28%;
  transform: translateY(-50%);
  width: 38%;
  background-color: #fff;
  padding: 40px;
}

.content-box h1 {
  font-size: 38px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.content-box p {
  font-size: 15px;
  color: #555;
  margin-bottom: 15px;
}

.content-box small {
  display: block;
  margin-bottom: 25px;
  color: #888;
}

.content-box small a {
  color: #000;
  text-decoration: underline;
}

.content-box button {
  background-color: #2f3356;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 25px;

  font-weight: bold;
}

.sec8 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
  padding: 10rem;

  h4 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }

  .dev88 {
    width: 100px;
    height: 100px;
    background-color: #f1bb13;
    border-radius: 50%;
    position: relative;
    margin: 2rem;

    img {
      width: 70px;
      height: 70px;
      position: absolute;
      top: 2.5rem;
      left: -1.5rem;
      bottom: 3rem;
    }
  }
}
#aq {
  /* background-color: blue; */
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  .container11 {
    width: 40%;
    /* height: 70%; */
    display: flex;
    gap: 2rem;
    padding: 5rem;
    flex-direction: column;
    /* background-color: #f7c646; */
    .aq1 {
      width: 100%;
      /* height: 90%; */
      background-color: #f7c646;
      padding: 3rem;
      border-radius: 2rem;
    }
    .articale {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .learn {
        width: 40%;
        padding: 1rem;
        background-color: #34365a;
        color: white;
        border-radius: 5rem;
      }
    }
  }
  .container12 {
    width: 40%;
    height: 70%;
    /* background-color: #0a891b; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-right: 6rem;
    gap: 1rem;
    margin: 4rem;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}

#container4 {
  width: 100%;
  /* height: 100vh; */
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;

  .paragragh {
    width: 100%;
    /* height: 100%; */
    background-color: #f7c646;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .paragragh1 {
      width: 50%;
      /* height: 100%; */
      /* background-color: blue; */
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;

      .p8 {
        font-size: 1.2rem;
        color: #34365a;
      }
      .bu {
        width: 40%;
        border-radius: 2rem;
      }
    }

    .image {
      width: 100%;
      /* height: 100%; */
      background-color: #f7c646;
      padding-right: 2rem;
      img {
        width: 100%;
        /* height: 100%; */
      }
    }
    .p9 {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
    .p22 {
      margin-top: 2rem;
      font-size: 1rem;
      a {
        color: black;
      }
    }
    .bu {
      margin-top: 2rem;
      padding: 1rem 2rem;
      background-color: #34365a;
      color: white;
      border-radius: 2rem;
    }
  }
}

#box {
  width: 100%;
  height: 100vh;
  /* background-color: #09eb7a; */
 
 
  .org-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      padding: 5rem;
    
      

    .box1{
      width: 40%;
      height: 50vh;
      /* background-color: red; */
      
       /* border: 3px solid black; */
       background-size: cover;
       
       
      
    
    }
    
    .blue{
      background-color: #2f3356;
      /* display: flex; */
      padding: 4rem;
      button{
        padding: 1rem;
        border-radius: 2rem;
        color: #fff;
        background-color: #2f3356;
      }
      

      
     
     
     }
     .box8{
        width: 100%;
        height: 100%;
        /* background-color: #09eb7a; */
        /* border: 5px solid black; */
        display: flex;
        
        .box20{
          width: 50%;
          height: 100%;
          /* background-color: ; */
          background-size: cover;
        }
        .box21{
          width: 50%;
          height: 100%;
          background-color: #f1bb13;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
       
       }
     
     
  }
}

#picture{
  width: 100%;
  height: 100vh;
  /* background-color: #2f3356; */
  
  .pic{
    width: 100%;
    height: 100%; 
    background-color: #2f3356;
    position: relative;
    padding-top: 4rem;
    
    
    
     img{
      width: 100%;
      height: 80%;  
          
     }
     .text{
      width: 40%;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(241, 239, 239);
      flex-direction: column;
      position: absolute;
      bottom: -1rem;
            right: 30rem;
      gap: 1rem;
      p{
        font-size: 1rem;
        font-weight: 2rem;
      }

      button{
        width: 25%;
        height: 12%;
        border-radius: 4rem;
        background-color: #2f3356;
        color: #fff;
       
      }
     }


    
  }

}


#container13{
  width: 100%;
  /* height: 100vh; */
  background-color: #2f3356;
  
   
    padding: 2rem;

  .org-container{
    width: 100%;
    height: 100%;
    .paragragh3{
      display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    color: #fff;

    }
    .big-box{
       display: flex;
    justify-content: center;
    align-items: center;
     position: absolute;
    
      img{
        width: 60%;
        height: 60%;
        margin-left: 12rem;
       
          
      }
      
    }
 .mini-box{
  width: 100%;
  height: 100vh;
 background-color: #2f3356;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  
  

 

  .org1{
    width: 10%;
    height: 20%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -3rem;
    right:-25rem ;
     z-index: 10;
   
   
  
    .or1{
      h4{
        color: #8e8e8e;

      }
      h1{
        color: #f1bb13;
      }
    }
     
  }
  .org2{
    width: 10%;
    height: 20%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
     z-index: 10;
     position: relative;
    top: -3rem;
   
    left: 7rem;
   
  
    .or2{
      h3{
        color: #8e8e8e;

      }
      h2{
        color: #f1bb13;
      }
    }
     
  }

  .org3{
    width: 10%;
    height: 20%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
     z-index: 10;
     position: relative;
    top: -3rem;
    left: -11rem;
   
   
    
  
    .or3{
      p{
        color: #8e8e8e;

      }
      h3{
        color: #f1bb13;
      }
    }
     
  }

  .org4{
    width: 10%;
    height: 20%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
     z-index: 10;
     position: relative;
    top: -3rem;
   left:-29rem;
   
   
  
    .or4{
      .pp{
        color: #8e8e8e;

      }
      p{
        color: #f1bb13;
      }
    }
     
  }
  
 }
   

 
  }
  
}


#section-org{
  width: 100%;
  height: 60vh;
  background-color: #2f3356;

  .orgg{
    display: flex;
    align-items: center;
    justify-content: center;

    .orgg1{
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: #fff;
    }

    .orgg2{
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: #fff;
    }

    .details{
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .text{
        width: 100%;
        padding: 5%;
      }
      .text1{
        width: 100%;
        padding: 5%;
      }
      .anything{
        width: 100%;
        height: 20vh;
      }
      .but{
        display: flex;
        justify-content: center;
      button{
        width: 100%;
        height: 6vh;
        font-size: 1rem;
        border-radius: 3rem;
        background-color: #f1bb13;
      }
      }
      
      
      
    }
  }
}

footer{
  width: 100%;
  height: 20vh;
  background-color: #333333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  
}
